@model List<Usuario>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mostrar lista de Usuarios</h5>

        <div class="table-responsive">
            <table class="table text-nowrap align-middle mb-0" id="tablaUsuarios">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">

                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Cambiar estado</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Cedula</td>
                            <td>@item.NombreUsuario</td>
                            <td>@item.Correo</td>
                            <td>
                                @if (item.Estado)
                                {
                                    <span class="badge bg-success">Activo</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Inactivo</span>
                                }
                            </td>
                            <td>@item.NombreRol</td>
                            <td>
                                <a id="AbrirModal" href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                   data-id="@item.idUsuario" data-nombre="@item.NombreUsuario">
                                    <i class="fa fa-trash" style="font-size: 1.6em;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-action="ActualizarEstado" asp-controller="Usuario">
                <div class="modal-body">
                    <input type="hidden" id="idUsuario" name="idUsuario" value="">
                    ¿Desea cambiar el estado del usuario <label id="Nombre"></label>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Procesar</button>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#tablaUsuarios').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            columnDefs: [
                { targets: [0, 1, 2, 3, 4], type: "string" }
            ]
        });
    });
    $(document).on("click", "#AbrirModal", function () {

        $("#Nombre").text($(this).attr("data-nombre"));
        $("#idUsuario").val($(this).attr("data-id"));

    });

</script>
