@model List<Plato>

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center" style="color: #ffffff">
            <h2>Menú</h2>
        </div>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="@item.RutaImagen" alt="@item.Nombre">
                                </div>
                                <div class="detail-box">
                                    <h5>@item.Nombre</h5>
                                    <p>@item.Descripcion</p>
                                    <div class="options">
                                        <h6 class="price">¢ @item.Precio.ToString("N2")</h6>
                                        <div class="row align-items-center">
                                            @if (Context.Session.GetString("ConsecutivoRol") == "2")
                                            {
                                                <div class="col-6 d-flex justify-content-center">
                                                    <input id="@item.ConsecutivoPlato" type="number" class="form-control text-center" value="1" min="1" style="width: 80px;" onkeypress="return false;">
                                                </div>
                                                <div class="col-6 d-flex justify-content-center">
                                                    <a onclick="AgregarCarrito(@item.ConsecutivoPlato);" class="btn btn-primary">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                            }
                                            @if (Context.Session.GetString("ConsecutivoRol") == "1")
                                            {
                                                <div class="col-6 d-flex justify-content-center">
                                                    <a href="#" onclick="cargarPlato(@item.ConsecutivoPlato);" class="btn btn-warning" data-toggle="modal" data-target="#actualizarPlatoModal">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </div>
                                                <div class="col-6 d-flex justify-content-center">
                                                    <button onclick="actualizarEstado(@item.ConsecutivoPlato);" class="btn @(item.Activo ? "btn-danger" : "btn-success")">
                                                        <i class="fa @(item.Activo ? "fa-toggle-on" : "fa-toggle-off")"></i>
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="btn-box">
            <a href="">Ver Más</a>
        </div>
    </div>
</section>

<!-- Modal para actualizar el plato -->
<div class="modal fade" id="actualizarPlatoModal" tabindex="-1" role="dialog" aria-labelledby="actualizarPlatoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarPlatoModalLabel">Actualizar Plato</h5>
            </div>
            <form id="actualizarPlatoForm" method="post" enctype="multipart/form-data" asp-action="ActualizarPlato" asp-controller="Menu">
                <div class="modal-body">
                    <input type="hidden" id="ConsecutivoPlato" name="ConsecutivoPlato" />
                    <div class="form-group">
                        <label for="Nombre">Nombre del Plato</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" required />
                    </div>
                    <div class="form-group">
                        <label for="Descripcion">Descripción</label>
                        <textarea class="form-control" id="Descripcion" name="Descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Precio">Precio</label>
                        <input type="number" class="form-control" id="Precio" name="Precio" required />
                    </div>
                    <div class="form-group">
                        <label for="ImagenPlato">Imagen</label>
                        <input type="file" class="form-control-file" id="ImagenPlato" name="ImagenPlato" />
                        <div class="mt-2">
                            <img id="RutaImagenPreview" src="" alt="Imagen del Plato" class="img-fluid" style="max-width: 200px; display: none;" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function AgregarCarrito(ConsecutivoPlato) {
        let cantidad = $("#" + ConsecutivoPlato).val();

        $.ajax({
            method: "POST",
            url: "/Carrito/AgregarCarrito",
            dataType: "json",
            data: {
                "ConsecutivoPlato": ConsecutivoPlato,
                "Cantidad": cantidad
            },
            success: function (data) {

                if (data == 0) {
                    MostrarMensajeOk("El plato se agrego correctamente en su carrito");
                }
                else {
                    MostrarMensaje("El plato no se pudo agregar en su carrito");
                }

            }
        });
    }

    function MostrarMensajeOk(texto) {
        Swal.fire({
            title: "Información",
            confirmButtonText: "Aceptar",
            text: texto,
            icon: "success"
        }).then((result) => {

            if (result.isConfirmed) {
                window.location.href = "/Menu/Menu";
            }
        });
    }

    function MostrarMensaje(texto) {
        Swal.fire({
            title: "Información",
            text: texto,
            icon: "info"
        });
    }

    function cargarPlato(consecutivoPlato) {
        $.ajax({
            url: `/Menu/ActualizarPlato?consecutivoPlato=${consecutivoPlato}`,
            type: 'GET',
            success: function (data) {
                if (data) {
                    $('#ConsecutivoPlato').val(data.consecutivoPlato);
                    $('#Nombre').val(data.nombre);
                    $('#Descripcion').val(data.descripcion);
                    $('#Precio').val(data.precio);

                    if (data.rutaImagen) {
                        $('#RutaImagenPreview').attr('src', data.rutaImagen).show();
                    } else {
                        $('#RutaImagenPreview').hide();
                    }

                    $('#actualizarPlatoModal').modal('show');
                } else {
                    alert("Error al cargar los datos del plato.");
                }
            },
            error: function () {
                alert("Error en la solicitud al servidor.");
            }
        });
    }

    $('#actualizarPlatoForm').submit(function (e) {
        e.preventDefault(); 

        var formData = new FormData(this); 

        $.ajax({
            url: '/Menu/ActualizarPlato', 
            type: 'POST',
            data: formData,
            contentType: false, 
            processData: false, 
            success: function (response) {
                $('#actualizarPlatoModal').modal('hide');
                Swal.fire({
                    icon: 'success',
                    title: 'Plato Actulizado',
                    text: 'Plato actualizado correctamente.',
                    confirmButtonText: 'OK'
                }).then(() => {
                    location.reload();
                });
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al actualizar el plato.',
                    confirmButtonText: 'Entendido'
                });
            }
        });
    });

    function actualizarEstado(consecutivoPlato) {
        $.ajax({
            url: '/Menu/ActualizarEstado',
            type: 'POST',
            data: { ConsecutivoPlato: consecutivoPlato },
            success: function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Estado Actulizado',
                    text: 'Estado del plato actualizado correctamente.',
                    confirmButtonText: 'OK'
                }).then(() => {
                    location.reload();
                });
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al actualizar el estado del plato.',
                    confirmButtonText: 'Entendido'
                });
            }
        });
    }

</script>