@model List<Plato>

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center" style="color: #ffffff">
            <h2>
                Menú
            </h2>
        </div>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="@item.RutaImagen" alt="@item.Nombre">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        @item.Nombre
                                    </h5>
                                    <p>
                                        @item.Descripcion
                                    </p>
                                    <div class="options">
                                        <h6>
                                            ¢ @item.Precio
                                        </h6>
                                        @if (Context.Session.GetString("ConsecutivoRol") == "3")
                                        {
                                            <div class="row">
                                                <div class="col-6">
                                                    <input id=@item.ConsecutivoPlato type="number" class="form-control text-center" value="1" min="1"
                                                           onkeypress="return false;">
                                                </div>
                                                <div class="col-6">
                                                    <a onclick="AgregarCarrito(@item.ConsecutivoPlato);"
                                                       class="btn btn-primary">
                                                        <i class="fa fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="btn-box">
            <a href="">
                Ver Más
            </a>
        </div>
    </div>
</section>

<script>

    function AgregarCarrito(ConsecutivoPlato) {
        let cantidad = $("#" + ConsecutivoPlato).val();

        $.ajax({
            method: "POST",
            url: "/Carrito/AgregarCarrito",
            dataType: "json",
            data: {
                "ConsecutivoPlato": ConsecutivoPlato,
                "Cantidad": cantidad
            },
            success: function (data) {

                if (data == 0) {
                    MostrarMensajeOk("El producto se actualizó correctamente en su carrito");
                }
                else {
                    MostrarMensaje("El producto no fue actualizado en su carrito");
                }

            }
        });
    }

    function MostrarMensajeOk(texto) {
        Swal.fire({
            title: "Información",
            confirmButtonText: "Aceptar",
            text: texto,
            icon: "success"
        }).then((result) => {

            if (result.isConfirmed) {
                window.location.href = "/Menu/Menu";
            }
        });
    }

    function MostrarMensaje(texto) {
        Swal.fire({
            title: "Información",
            text: texto,
            icon: "info"
        });
    }

</script>