<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> Pizzeria Jumbo </title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>

    <div class="hero_area">
        <div class="bg-box">
            <img src="~/images/pizzeria index.png" />
        </div>
        <!-- header section strats -->
        <header class="header_section bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            Feane
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Home")">Home </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("Menu","Menu")">Menu <span class="sr-only">(current)</span> </a>
                            </li>

                            @if (Context.Session.GetString("ConsecutivoRol") != null &&
                            @Context.Session.GetString("ConsecutivoRol") == "1")
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Menu","Menu")">Añadir Plato <span class="sr-only">(current)</span> </a>
                                </li>
                            }
                        </ul>
                        <div class="user_option">
                            <a href="@Url.Action("IniciarSesion","Login")" class="user_link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <a class="cart_link" href="#">
                            </a>
                            <form class="form-inline">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                            <a href="" class="order_online">
                                Order Online
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- end slider section -->
    </div>





    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contáctenos
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Dirección
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Llamenos 6034-5378
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    pizzeriajumbo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Bienvenidos
                            <p>
                                Pizzeria Jumbo
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Abierto
                    </h4>
                    <p>
                        Todos los dias
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"> </script>   
    
   
</body>
</html>