@model List<Usuario>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mostrar lista de Usuarios</h5>

        <div class="table-responsive">
            <table class="table text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">

                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Salario</th>
                        <th>Puesto</th>

                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Cedula</td>
                            <td>@item.NombreUsuario</td>
                            <td>@item.Correo</td>
                            <td>@item.Estado</td>
                            <td>@item.NombreRol</td>
                            <td>@item.Salario</td>
                            <td>@item.NombrePuesto</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
