@model List<Usuario>

<div class="card shadow-lg">
    <div class="card-body">
        <h5 class="card-title text-center mb-4">Lista de Empleados</h5>

        <div class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap align-middle mb-0" id="tablaEmpleados">
                <thead class="table-light">
                    <tr class="border-2 border-bottom border-primary">
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Salario</th>
                        <th>Puesto</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Cedula</td>
                            <td>@item.NombreUsuario</td>
                            <td>@item.Correo</td>
                            <td>
                                @if (item.Estado)
                                {
                                    <span class="badge bg-success">Activo</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Inactivo</span>
                                }
                            </td>
                            <td>@item.NombreRol</td>
                            <td>
                                @if (item.Salario != 0)
                                {
                                    <span class="text-success">@string.Format("{0:C}", item.Salario)</span>
                                }
                                else
                                {
                                    <span class="text-danger">Sin salario</span>
                                }
                            </td>
                            <td>@item.NombrePuesto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tablaEmpleados').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            columnDefs: [
                { targets: [0, 1, 2, 3, 4], type: "string" }
            ]
        });
    });
</script>



