@model List<Empleado>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mostrar lista de Empleados</h5>

        <div class="table-responsive">
            <table class="table text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">

                        <th>Identificacion</th>
                        <th>Nombre</th>
                        <th>CorreoEmpleado</th>
                        <th>Contrasena</th>
                        <th>Salario</th>
                        <th>IdPuesto</th>
                        <th>DescripcionPuesto</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre</td>
                            <td>@item.CorreoEmpleado</td>
                            <td>@item.Contrasena</td>
                            <td>@item.Salario</td>
                            <td>@item.IdPuesto</td>
                            <td>@item.DescripcionPuesto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>